{% extends "AppTerEnt/tempbase.html" %}
{% load static %}

{% block section1 %}

<!-- Header-->

      <!-- Content section 1-->
<section id="scroll">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img style="height: 300px; width: 300px"  class="img-fluid rounded-circle" src="../../static/AppTerEnt/assets/img/1429T.jpg" alt="..." /></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">ACERCA DE MI.</h2>
                    <p>Mi nombre es Joaquín Rama, soy de Uruguay y tengo 29 años. Decidí realizar este curso ya que estoy finalizando un Master
                        en Big Data y la mayoría de las materias se dictan sobre Python, y quería adquirir mayor entendimiento dela herramienta.
                        La idea del tema de la web surgió porque me gusta mucho viajar y me pareció que era una buena temática para crear un blog.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}