{% extends "AppTerEnt/tempbase.html" %}
{% load static %}

{% block section1 %}

<!-- Header-->
<header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container px-5">
            <h1 class="masthead-heading mb-0">INDONESIA</h1>
            <h2 class="masthead-subheading mb-0"> UN VIAJE AL CORAZÓN DEL SUDESTE ASIÁTICO.</h2>
        </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
</header>

      <!-- Content section 1-->
<section id="scroll">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="img-fluid rounded-circle" src="../../static/AppTerEnt/assets/img/indo1.jpg" alt="..." /></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">INDONESIA</h2>
                    <p>Mi viaje a Indonesia fue una aventura inolvidable llena de experiencias fascinantes. Mi viaje me llevó a las islas Gili,
                        un auténtico paraíso para los amantes del buceo y el snorkel. Nadar junto a tortugas marinas en aguas cristalinas y 
                        explorar arrecifes de coral vibrantes fue una experiencia surreal. Las noches en Gili Trawangan estuvieron llenas de vida
                        con fiestas en la playa y deliciosa comida local.
                        
                        Ubud fue el siguiente destino, una joya en el corazón de Bali. Pasear por campos de arroz en terrazas y visitar el Santuario de los Monos
                        de Ubud fueron momentos mágicos. Además, me sumergí en la escena artística local y descubrí talentosos artistas y artesanos.
                        
                        La última etapa de mi viaje me llevó a Uluwatu, donde quedé maravillado por los acantilados impresionantes y los templos junto al mar.
                        Las puestas de sol en Uluwatu fueron de ensueño, y disfrutar de una actuación de danza kecak en el Templo de Uluwatu fue una experiencia
                        cultural única.
                        
                        Mi aventura culminó en Nusa Penida, una isla virgen con playas de arena blanca y acantilados imponentes. Nadar en la laguna de ángeles
                        y explorar las formaciones rocosas de Kelingking Beach fue un punto culminante.
                        
                        Indonesia me dejó recuerdos imborrables y un amor eterno por su belleza natural y su cultura rica. Fue un viaje que siempre llevaré en mi corazón.</p>
                    
                </div>
            </div>
        </div>
    </div>
</section>

        <!-- Content section 2-->
        <section>
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="../../static/AppTerEnt/assets/img/indo2.jpg" alt="..." /></div>
                    </div>
                    </div>
                </div>
            </div>
        </section>

          <!-- Content section 3-->
          <section id="scroll">
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="../../static/AppTerEnt/assets/img/indo3.jpg" alt="..." /></div>
                    </div>
                    </div>
                </div>
            </div>
        </section>

          <!-- Content section 3-->
          <section id="scroll">
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="../../static/AppTerEnt/assets/img/indo4.jpg" alt="..." /></div>
                    </div>
                    </div>
                </div>
            </div>
        </section>
      


{% endblock %}