{% extends "AppTerEnt/tempbase.html" %}
{% load static %}

{% block section1 %}

<!-- Header-->
<header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container px-5">
            <h1 class="masthead-heading mb-0">Travel MyB</h1>
            <h2 class="masthead-subheading mb-0"> Te acercamos.</h2>
        </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
</header>

      <!-- Content section 1-->
<section id="scroll">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="img-fluid rounded-circle" src="../../static/AppTerEnt/assets/img/indo1.jpg" alt="..." /></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Destinos</h2>
                    <p>Conocé los detalles de todos los lugares que conocí.</p>

                    <p>Visita nuestra sección Destinos.</p>
                    
                </div>
            </div>
        </div>
    </div>
</section>

        <!-- Content section 2-->
        <section id="scroll">
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="../../static/AppTerEnt/assets/img/nz2.jpg" alt="..." /></div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <h2 class="display-4">Atracciones</h2>
                            <p>Descubrí las atracciones más importantes de cada destino.</p>
        
                            <p>Visita nuestra sección Atracciones.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>

          <!-- Content section 3-->
          <section id="scroll">
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="../../static/AppTerEnt/assets/img/bj1.jpg" alt="..." /></div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <h2 class="display-4">Actividades</h2>
                            <p>Si queres conocer que hacer en cada destino, acá está lo que buscabas.</p>
        
                            <p>Visita nuestra sección Actividades.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
          <!-- Content section 3-->
          <section id="scroll">
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="../../static/AppTerEnt/assets/img/sama.jpg" alt="..." /></div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <h2 class="display-4">Alojamientos</h2>
                            <p>Diferentes hospedajes para que decidas donde alojarte.</p>
        
                            <p>Visita nuestra sección Alojamientos.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
      


{% endblock %}