{% extends "AppTerEnt/tempbase.html" %}
{% load static %}

{% block section1 %}

        <!-- Header-->
        <header class="masthead text-center text-white">
            <div class="masthead-content">
                <div class="container px-5">
                    <h1 class="masthead-heading mb-0">Bienvenido a Travel MyB!</h1>
                    <h2 class="masthead-subheading mb-0">Te acercamos.</h2>
                </div>
            </div>
            <div class="bg-circle-1 bg-circle"></div>
            <div class="bg-circle-2 bg-circle"></div>
            <div class="bg-circle-3 bg-circle"></div>
            <div class="bg-circle-4 bg-circle"></div>
        </header>

<ul>
{% for atraccion in object_list %}

    <li> ID: {{ atraccion.id }} / Nombre: {{ atraccion.name }} / Ciudad: {{ atraccion.city }} / Categoría: {{ atraccion.category }} 
        <a href = "{% url 'Deleteatr' atraccion.id %}">Eliminar</a></li></li>
        <a href = "{% url 'Editatr' atraccion.id %}">Editar</a></li>
        <a href = "{% url 'Detailatr' atraccion.id %}">Detalle</a></li>
        <hr>  

{% endfor %}

<a href = "{% url 'Newatr' %}">Nueva atraccion</a></li>
</ul>

{% endblock %}