{% extends "AppTerEnt/tempbase.html" %}
{% load static %}

{% block section1 %}

        <!-- Header-->
        <header class="masthead text-center text-white">
            <div class="masthead-content">
                <div class="container px-5">
                    <h1 class="masthead-heading mb-0">Bienvenido a Travel MyB!</h1>
                    <h2 class="masthead-subheading mb-0">Te acercamos.</h2>
                </div>
            </div>
            <div class="bg-circle-1 bg-circle"></div>
            <div class="bg-circle-2 bg-circle"></div>
            <div class="bg-circle-3 bg-circle"></div>
            <div class="bg-circle-4 bg-circle"></div>
        </header>
        <h2> {{ mensaje }}</h2>
        <!-- Content section 1-->
        <section id="scroll">
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="../../static/AppTerEnt/assets/img/mtcook1.jpg" alt="..." /></div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <h2 class="display-4">Mount Cook</h2>
                            <p>Disfruta de una emocionante experiencia al aire libre en el Monte Cook, la montaña más alta de Nueva Zelanda.
                                Rodeado de paisajes de ensueño, te adentrarás en un mundo de aventuras en medio de la naturaleza virgen. 
                                Sumérgete en glaciares cristalinos, explora rutas de senderismo escénicas y admira la belleza de la región de los Alpes del Sur. </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Content section 2-->
        <section>
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="../../static/AppTerEnt/assets/img/mtcook2.jpg" alt="..." /></div>
                    </div>
                    </div>
                </div>
            </div>
        </section>

        

        {% endblock %}