{% extends "AppTerEnt/tempbase.html" %}
{% load static %}

{% block section1 %}

<!-- Header-->
<header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container px-5">
            <h1 class="masthead-heading mb-0">NUEVA ZELANDA</h1>
            <h2 class="masthead-subheading mb-0"> EL CORAZÓN DEL PACÍFICO SUR.</h2>
        </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
</header>

      <!-- Content section 1-->
<section id="scroll">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="img-fluid rounded-circle" src="../../static/AppTerEnt/assets/img/nz2.jpg" alt="..." /></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">NUEVA ZELANDA</h2>
                    <p>El año 2020 marcó una travesía inolvidable en mi vida. Decidí emprender un viaje a Nueva Zelanda, 
                        una tierra de ensueño conocida por sus paisajes impresionantes y su espíritu aventurero. 
                        Sin embargo, este no sería un viaje convencional. Opté por recorrer esta maravillosa isla a bordo de un MotorHome, 
                        una casa sobre ruedas que se convirtió en nuestro hogar itinerante.
                        La aventura comenzó en Auckland, donde nos embarcamos en nuestra casa rodante y nos sumergimos en la belleza de 
                        Nueva Zelanda. Durante el día, explorábamos parques nacionales llenos de montañas, fiordos y playas doradas. 
                        Por la noche, estacionábamos en campings con vistas panorámicas, bajo un cielo estrellado que parecía interminable.
                    
                        A medida que avanzábamos, descubrimos los parajes de la Isla Sur: los glaciares de Franz Josef y Fox, el fiordo de 
                        Milford Sound y el lago Tekapo con su agua de color turquesa. Cada nuevo destino nos brindaba una visión única de la 
                        naturaleza neozelandesa.
                    
                        Este viaje en MotorHome por Nueva Zelanda en el año 2020 no solo fue una aventura, sino un recordatorio de la belleza 
                        del mundo y la capacidad del ser humano para adaptarse y encontrar alegría en medio de la incertidumbre. 
                        Sin lugar a dudas, esta experiencia perdurará en mi memoria como un viaje que transformó mi perspectiva y mi aprecio 
                        por la vida en la carretera.</p>
                    
                </div>
            </div>
        </div>
    </div>
</section>

        <!-- Content section 2-->
        <section>
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="../../static/AppTerEnt/assets/img/nz3.jpg" alt="..." /></div>
                    </div>
                    </div>
                </div>
            </div>
        </section>

          <!-- Content section 3-->
          <section id="scroll">
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="../../static/AppTerEnt/assets/img/nz4.jpg" alt="..." /></div>
                    </div>
                    </div>
                </div>
            </div>
        </section>
      


{% endblock %}