{% extends "AppTerEnt/tempbase.html" %}
{% load static %}

{% block section1 %}

        <!-- Header-->
        <header class="masthead text-center text-white">
            <div class="masthead-content">
                <div class="container px-5">
                    <h1 class="masthead-heading mb-0">Bienvenido a Travel MyB!</h1>
                    <h2 class="masthead-subheading mb-0">Te acercamos.</h2>
                </div>
            </div>
            <div class="bg-circle-1 bg-circle"></div>
            <div class="bg-circle-2 bg-circle"></div>
            <div class="bg-circle-3 bg-circle"></div>
            <div class="bg-circle-4 bg-circle"></div>
        </header>
        <h2> {{ mensaje }}</h2>
        <!-- Content section 1-->
        <section id="scroll">
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="../../static/AppTerEnt/assets/img/sama.jpg" alt="..." /></div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <h2 class="display-4">Sama Sama Hostel & Bar</h2>
                            <p>Este encantador albergue, situado en la isla de Gili Trawangan en Indonesia, ofrece todo lo que necesitas
                                para unas vacaciones inolvidables.
                                El bar del albergue es un lugar perfecto para disfrutar de cócteles refrescantes y cómodos
                                asientos junto a la piscina, donde se realizan noches temáticas y eventos especiales.
                                El alojamiento es cómodo y asequible, con opciones que van desde dormitorios compartidos hasta habitaciones privadas.
                                Una de las mejores cosas de Sama Sama Hostel & Bar es su ubicación a solo unos pasos de la playa. Disfruté de impresionantes
                                puestas de sol y nadé en aguas cálidas y transparentes siempre que lo deseaba. 
                                
                                Este lugar es un paraíso para los amantes de la playa y los viajeros que buscan relajarse.</p> 
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Content section 2-->
        <section>
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="../../static/AppTerEnt/assets/img/sama1.jpg" alt="..." /></div>
                    </div>
                    </div>
                </div>
            </div>
        </section>

        

        {% endblock %}